*{
    margin: 0;
}

body{
    position: relative;
    height: 100vh;
}

header,footer{
    display: flex;

    align-items: center;
    justify-content: center;

    width: 100%;

    background-color: hsl(0, 7%, 3%);

    color: white;

    
}

header{

    font-size: 2em;

    border-radius: 0% 0% 20px 20px;

    letter-spacing: 0.25em;
}

footer{

    position: absolute;

    bottom: 0;

    font-size: 1em;

    letter-spacing: 0.45em;

}

.text-inside{
    margin-top: 1%;
    margin-bottom: 1%;
}

.app{
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: center;

    margin:15%;
}

.label-input{
    font-size: 3em;
    font-style: italic;

    margin-bottom: 2%;
}

.input-quizz{
    text-decoration: none;
    outline: none;

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    font-size:2em;

    width: 50%;

    margin-bottom: 5%;

    animation: input-animation .5s;
}

#response{
    margin-top: 5%;
    font-size: 1.5em;
}

button{
    font-size: 1.5em;

    text-decoration: none;
    border-radius: 9px;
    padding: 10px;
    outline: none;
    border: 1px solid black;

    transition: box-shadow .5s;
    cursor: pointer;
}

button:hover{
    box-shadow: 6px 5px black;
}

@keyframes input-animation{
    0%{ width: 0% }
    100%{ width: 50%}
}

